<header>
  <form method="POST" action="/new">
    <label for="i1">Your name</label>
    <input type="text" id="i1" name="messageUser" />
    <label for="i2">Message</label>
    <input type="text" id="i2" name="messageText" />
    <button type="submit">Submit</button>
  </form>
</header>
