<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="footer-container">
      <footer>
        <h1>Send message</h1>

        <form method="POST" action="/new" id="messageForm">
          <%- include("errors.ejs") %>
          <input type="text" id="i1" name="username" placeholder="Your name" />
          <div class="send-area">
            <textarea
              type="text"
              id="i2"
              name="msg"
              placeholder="Send message..."
            ></textarea>
            <button type="submit">Send</button>
          </div>
        </form>
      </footer>
    </div>
  </body>
</html>
