<footer>
  <form method="POST" action="/">
    <input type="text" id="i1" name="messageUser" placeholder="Your name" />
    <div class="send-area">
      <input
        type="text"
        id="i2"
        name="messageText"
        placeholder="Send message..."
      />
      <button type="submit">Send</button>
    </div>
  </form>
</footer>
