<html>
  <body>
    <div class="message-container">
      <% for (let i = 0; i < messages.length; i++) { %>
      <div class="message">
        <h1><%= messages[i].user %></h1>
        <p><%= messages[i].text %></p>
        <sub><%= messages[i].added %></sub>
      </div>
      <% } %>
      <button>
        <a href="/new">Send a message!</a>
      </button>
    </div>
  </body>
</html>
