<% messages.forEach(message => { %>
<div class="message">
  <h1 class="message-user">From: <%= message.user %></h1>
  <p class="message-text"><%= message.text %></p>
  <sub><%= message.added %></sub>
</div>
<% }); %>
