<% messages.map(message => { %>
<div class="message">
  <h1 class="message-user">From: <%= message.username %></h1>
  <p class="message-text"><%= message.msg %></p>
  <sub><%= message.date %></sub>
</div>
<% }); %>
